/* breadcrum */
.breadcrumbs-item:not(:last-of-type)::after {
    content:'-';
    margin: 0 5px;
    font-size: 14px;
    color: #1F1F1F;
}

.product-detail__img {
    position: absolute;
    top: -80px !important;
}

.text-12 {
    font-size: 12px;
    line-height: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link-active {
        @apply p-1 border-b-2 border-solid border-primary;
    }
}